p{
    font-style: italic;
    color: blue;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

.checked{
    background-color: black;
    color: white;
    text-decoration: line-through;
}